
html, body {
	margin: 0 auto;	
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	position: relative;
	box-sizing: border-box;
}
a {
	text-decoration: none; 
	color: #000000;
}
.clearfix {
    content: "";
    display: block;
}
.wrapper {	
	width: 100%;	
	max-width: 1280px;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
	position: relative;
	background: transparent;
}
.header {
	width: 100%;
	float: left;	
	box-sizing: border-box;
	font-size: 24px;
    line-height: 24px;
    font-style: normal;
  	font-weight: 400;
  	color: #00677A;
  	margin: 1% 0 0 0;

}
.header__logo {
	width: 20%;
	height: 115px;
	float: left;	
	background: transparent url("../img/logo.png") no-repeat;
	background-size: contain;
	margin: 0 0 0 1%;
}
.header__middle {
	width: 79%;
	height: 115px;
	float: left;
	background: linear-gradient(to left, #06829A, #ffffff 50%, #ffffff);
	background: -webkit-linear-gradient(to left, #06829A, #ffffff 50%, #ffffff);
    background: -moz-linear-gradient(to left, #06829A, #ffffff 50%, #ffffff);

}
.header__middle__icon {
	display: block;
	float: left;
	width: 60%;
	height: 115px;
	margin: 0 0 0 20px;
}
.header__middle__icon-addr {
	display: block;
	float: left;
	width: 100%;
	height: 30px;
	background: transparent url("../img/addr.png") no-repeat;
	background-size: contain;
	margin: 15px 0 0 0;
}
.header__middle__icon-addr span {
	display: inline-block;
    padding: 10px 0 0 35px;
}
.header__middle__icon-vk {
	display: block;
	float: left;
	height: 20px;
	background: transparent url("../img/vk.png") no-repeat;
	background-size: contain;
	margin: 13px 0 0 -7px;
	width: 55%;
}
.header__middle__icon-vk span {
	display: inline-block;
    padding: 0 0 0 42px;
}

.header__middle__bird {	
	background: transparent url("../img/bird.png") no-repeat;
	background-size: contain;
	width: 245px;
    height: 50px;
    content: "";
    position: relative;
    top: 50%;
    left: 58%;
}
.header__contact {
	display: block;
	float: right;
	font-size: 24px;
    line-height: 24px;
    font-style: normal;
  	font-weight: 400;
  	color: #ffffff;
  	width: 38%;
  	height: 115px;
}

.header__contact span {
	display: block;
    float: left;
    margin: 6% 0 0 47%;
}
.header__contact_block {
	display: block;
	float: left;
	margin: 0 0 0 3%;
}
.header__contact_link {
	color: #ffffff;
	display: inline-block;
	padding: 5px 0 0 5px;
}
.header__contact_link:hover {
	text-decoration: underline;
}
/*===Slider===============================================*/
#header__slider {
	display: block;
	float: left;
	margin:0 auto;
	width: 1280px;
	height: 500px;
	position: relative;
    box-sizing: border-box;
	transition: all 0.5s ease-out;
}
#header__slider input[type="radio"] {
	display:none;
}
label { 
	cursor:pointer;
}
#header__slides {
	width: 100%;
	position: relative;
	transition: all 0.5s ease-out;
}
#header__slides_container{
	width:100%;
	overflow:hidden;
}
.header__slide__container_inner {
	width:500%;
}
.header__slide__container_inner figure {
	width: 20%;
	float: left;
	margin: 0;
}
.header__slide__container_inner img {
	width: 100%;
}

#header__slide_1:checked ~ #header__slides .header__slide__container_inner { margin-left:0; }
#header__slide_2:checked ~ #header__slides .header__slide__container_inner { margin-left:-100%; }
#header__slide_3:checked ~ #header__slides .header__slide__container_inner { margin-left:-200%; }
#header__slide_4:checked ~ #header__slides .header__slide__container_inner { margin-left:-300%; }
#header__slide_5:checked ~ #header__slides .header__slide__container_inner { margin-left:-400%; }

#header__slider_commands {
	margin: -25% 0 0 0;
    width: 100%;
    height: 50px;
}

#header__slide_1:checked ~ #header__slider_commands label:nth-child(2),
#header__slide_2:checked ~ #header__slider_commands label:nth-child(3),
#header__slide_3:checked ~ #header__slider_commandss label:nth-child(4),
#header__slide_4:checked ~ #header__slider_commands label:nth-child(5),
#header__slide_5:checked ~ #header__slider_commands label:nth-child(1) {
	background: transparent url("img/next.png") no-repeat;
	display: block;
	float: right; 	
	width: 35px;
    height: 35px;

}

#header__slide_1:checked ~ #header__slider_commands label:nth-child(5),
#header__slide_2:checked ~ #header__slider_commands label:nth-child(1),
#header__slide_3:checked ~ #header__slider_commands label:nth-child(2),
#header__slide_4:checked ~ #header__slider_commands label:nth-child(3),
#header__slide_5:checked ~ #header__slider_commands label:nth-child(4){ 
	background: transparent url("img/previous.png") no-repeat;
	display: block;
	float: left;	
	width: 35px;
    height: 35px;
}
/*========================================================*/